<h1> Enter the Player names!! </h1>
<form action='/pre_game' method='post'>
Player 1 :  <input type='text' name='name1'>
Player 2 :  <input type='text' name='name2'>
  <button type='submit'>Submit</button>
</form>
